<div id="slides">
  <div class="slides_container">
    <% i = 0 %>
    <% homes = Smartrent::Home.visible.order('position asc').all %>
    <% homes.each do |home|%>
      <% if i%4 == 0 %>
        <div class="threeWide">
      <% end %>
      
      <div class="propertySlide">
        <%= link_to home.website do %>
          <%= image_tag home.image(:home_page) %>
          <div class="caption">
            <strong><%= home.title %></strong>
            <% if !home.home_page_desc.blank? %>
              <%= home.home_page_desc %>
            <% else %>
              <%= home.description %>
            <% end %>
          </div>
        <% end %>
      </div>
      
      <% i+=1 %>
      
      <% if i%4 == 0 || i == homes.count %>
        </div>
      <% end %>
      
    <% end %>
  </div>
</div>
