<div class="homeBanner banner clearfix">
  <div class="fixedWidth">
    <div class="images">
      <div class="left">
        <%= image_tag "LEFT-Home-Page-252x380.jpg" %>
      </div>

      <div class="right">
        <%= image_tag "RightHomePage_880x 380_V2.jpg" %>
      </div>
    </div>
  </div>
</div>

<section id="contentWrapper" class="homeContentWrap">
  <div class="fixedWidth">
    <style>
        .sr-page-title{
          color: #7395bc;
        }
        .homeContentWrap{
            position: relative;
        }
        @keyframes load_up{

            from{opacity:0;left:-40%}
            to{opacity:1;left:0%;}
            
        }@-webkit-keyframes load_up{
            from{opacity:0;left:-40%}
            to{opacity:1;left:0%;}
            
        }
        #tpopup{
          position: absolute;
          width: 20%;
          min-width: 200px;
          /*height: 66%;*/
          background: #fff;
          left: -30%;
          top: 20px;
          z-index: 1;
          border-radius:5px;
          /*padding:60px 0;*/
          /*margin-left:-320px;*/ /* width/2 + padding-left */
          /*margin-top:-150px; *//* height/2 + padding-top */
          text-align:center;
          box-shadow:0 0 10px 0 #000;
          /*background-image: url(<%= asset_path 'Emblem-Bozzuto_Image_270x600_V2.jpg' %>);*/
          background-size: contain;
          /*opacity:0;*/
          /*animation:load_up 5s forwards;
          -webkit-animation:load_up 5s forwards;*/
          transition: left 5s ease;
          -webkit-transition: left 5s ease;
          -moz-transition: left 5s ease;
          -o-transition: left 5s ease;
        }
        #tpopup img{
          max-width: 100%;
          display: block;
          border-radius: 5px;
        }
        #tclose{
          position:absolute;
          background:black;
          color:white;
          right:-15px;
          top:-15px;
          border-radius:50%;
          width:30px;
          height:30px;
          line-height:30px;
          text-align:center;
          font-size:8px;
          font-weight:bold;
          font-family:'Arial Black', Arial, sans-serif;
          cursor:pointer;
          box-shadow:0 0 10px 0 #000;
        }
        #contentWrapper.homeContentWrap .fixedWidth{
          padding-left:25%;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
        }
        #contentWrapper.homeContentWrap #homeContent, #contentWrapper.homeContentWrap #homeContent + #slides{
          left:0;
          max-width:770px;
          width:90%;
        }
        @media only screen and (max-width: 1120px) and (min-width:1131px){
            .homeBanner.banner .fixedWidth .images .left{max-width: calc(100% 880px);}
        }
        @media only screen and (max-width: 900px){
          #contentWrapper.homeContentWrap .fixedWidth{
              padding-left:240px;
         }
        }
        @media only screen and (max-width: 664px){
            #contentWrapper.homeContentWrap #homeContent{
                max-width: 610px;
            }
            #contentWrapper.homeContentWrap .fixedWidth{
              padding-left:0px;
            }
            #tpopup{
              position: relative;
              width:80%!important;
              min-width: 0;
              max-width: 300px;
              left: auto!important;
              top:auto!important;
              margin: 20px auto;
              display: block;
              margin-bottom: 20px;
            }
            
        }
      </style>
  <div id="tpopup">
    <%=  image_tag "Emblem-Bozzuto_Image_270x600_V2.jpg" %> 
    <div id="tclose">X</div>    
  </div>

    <div id="homeContent">
      <h1 class="sr-page-title"> You do the renting. We do the saving. </h1>
      <div>
      With the Bozzuto SmartRent program, purchasing a brand <%= link_to "new home" ,'https://www.bozzuto.com/new-homes/communities', target: :_blank %> is well within reach. Each month that you rent from a Bozzuto participating property, you'll earn a $350 contribution, for a maximum of $10,000, towards the purchase of a brand new <%= link_to "Bozzuto Home",'https://www.bozzuto.com/new-homes/communities', target: :_blank %>. Simple as that. Bozzuto SmartRent credits are applied towards the out-of-pocket costs associated with building a new home, helping to jump start your savings plan. Best of all, there's no cost to you and enrollment is automatic.
      </div>
      <div >
      <ul>
          <li>Your rent stays the same, whether you choose to take advantage of SmartRent or not.</li>
          <li> You will receive monthly email statements to let you know how your credits are adding up.</li>
          <li> Bozzuto Homes are located throughout the D.C., Baltimore and Annapolis areas and include distinctive condominium, townhome, and single-family home communities.</li>
      </ul>
      </div>
      <div>
      You may use SmartRent credits for up to 24 months after leaving a Bozzuto apartment property.
      </div>
      <br>
      <div>
      Bozzuto SmartRenters get priority access to new Bozzuto Homes communities through Bozzuto Backstage. This program gives members behind-the-scenes access to community info, release dates, events, sneak peek tours and special appointment times before we're open to the public! In addition, Backstage members have the ability to reserve and purchase their home before the public at the lowest base prices available and with special Backstage incentives. It doesn't get much better than that!
      </div>
      <br>
    </div>
    <%= render partial: "homes_slider" %>
  </div>

</section>
<script type="text/javascript">
$(document).ready(function(){

  $("#tclose").click(function(){
    $("#tpopup").fadeOut();
  });
});
$(window).on('load',function(){
    popupPos();
});
$(window).on('resize',function(){
  popupPos();
});
function popupPos(){
var marginL = parseInt($('.homeContentWrap > .fixedWidth').css('margin-left'));
var popWidth = parseInt(parseInt($('#contentWrapper.homeContentWrap .fixedWidth').css('padding-left')) - 40);
$('#tpopup').css({'left':marginL,'width':popWidth});
}
</script>
