<div class="banner clearfix">
  <div class="fixedWidth">
    <div class="images">
      <div class="left">
        <%= image_tag "homePageLeft.jpg" %>
      </div>

      <div class="right">
        <%= image_tag "homePage.jpg" %>
      </div>
    </div>
  </div>
</div>

<section id="contentWrapper">
  <div class="fixedWidth">
    <div id="homeContent">
      When you rent from a Bozzuto SmartRent apartment community, you earn a
      $350 credit every month - up to a total of $10,000 - to help you
      purchase a new <%= link_to "condominium" ,new_home_path  %>,
      <%= link_to "townhome", new_home_path %> or
      <%= link_to "single-family home", new_home_path %>
       from <%= link_to "Bozzuto Homes", new_home_path %>
      Simple as that. No gimmicks. Best of all, no cost to you, whether you
      choose to participate in SmartRent or not.
      <%= link_to "Click here to learn more.", faq_path  %>
    </div>
    <div id="slides">
      <div class="slides_container">
        <div class="threeWide">
          <div class="propertySlide">
            <a href="http://www.bozzutosmartrent.com/bozzuto-maple-lawn/">
              <%= image_tag "bozzuto_maple_lawn.jpg" %>
              <div class="caption">
                <strong>Bozzuto Maple Lawn</strong> Maintenance-Free Living in a One
                of the Kind Community.
              </div>
            </a>
          </div>

          <div class="propertySlide">
            <a href="http://www.bozzutosmartrent.com/shipleys-grant/">
              <%= image_tag "shipleys_grant.jpg" %>
            <div class="caption">
              <strong>Shipley&#8217;s Grant</strong> The Art of the Village.
              Ellicott City, MD
            </div></a>
          </div>

          <div class="propertySlide">
            <a href="http://www.bozzutosmartrent.com/towson-green/">
              <%= image_tag "towson_green.jpg" %>
            <div class="caption">
              <strong>Towson Green</strong> New Urban Townhomes in the heart of
              Towson
            </div></a>
          </div>
        </div>

        <div class="threeWide">
          <div class="propertySlide">
            <a href="http://www.bozzutosmartrent.com/uplands/">
              <%= image_tag "uplands_md.jpg" %>

            <div class="caption">
              <strong>Uplands</strong> Suburban Charm. In Charm City.
            </div></a>
          </div>

          <div class="propertySlide">
            <a href=
              "http://www.bozzutosmartrent.com/460-new-york-avenue/">
              <%= image_tag "460NewYorkAvenue.jpg" %>

            <div class="caption">
              <strong>460 New York Avenue</strong> In every way, 460 New York
              Avenue is truly the place to be.
            </div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
