<div class="banner dropshadow">
  <div class="fixedWidth">
    <div class="images clearfix">
      <div class="left"><%=image_tag "programRulesleft.jpg" %></div>

      <div class="right"><%=image_tag "programRules.jpg" %></div>
    </div>
  </div>
</div>

<section class="content">
  <div class="ruleContainer clearfix">
    <h2>#<span>1</span></h2>

    <div class="ruleContent">
      <%=image_tag "smartRent1.jpg" %>

      <h3>Earn money towards a new Bozzuto home when you rent with a
      Bozzuto-managed rental property.</h3>

      <p>When you rent from a Bozzuto SmartRent apartment community, you earn a
      *$350 dollar credit every month while living in most participating
      Bozzuto-managed apartments - up to a total of $10,000 - to help you
      purchase a new condominium, townhome or single-family home from Bozzuto.
      Simple as that. No gimmicks. Best of all, no cost to you. Your rent will
      stay the same, whether you choose to use your SmartRent credits or
      not.</p>
    </div>
  </div>

  <div class="ruleContainer clearfix">
    <h2>#<span>2</span></h2>

    <div class="ruleContent">
      <%=image_tag "rule2.jpg" %>

      <h3>You&#039;re in immediately.</h3>

      <p>Once you sign a lease, you’re automatically enrolled.</p>
    </div>
  </div>

  <div class="ruleContainer clearfix">
    <h2>#<span>3</span></h2>

    <div class="ruleContent">
      <%=image_tag "rule3.jpg" %>

      <h3>After you move in, you start accruing credits right away.</h3>

      <p>And after only a year you can use those credits toward buying your own
      Bozzuto home.</p>
    </div>
  </div>

  <div class="ruleContainer clearfix">
    <h2>#<span>4</span></h2>

    <div class="ruleContent">
      <%=image_tag "smartRent4.jpg" %>

      <h3>Cut out the middle man!</h3>

      <p>Because you’re already living with us, you won’t need a realtor when
      you buy your Bozzuto home. However if you chose to use a realtor, you may
      apply up to 50% of your SmartRent credit.</p>
    </div>
  </div>

  <div class="ruleContainer clearfix">
    <h2>#<span>5</span></h2>

    <div class="ruleContent">
      <%=image_tag "smartRent5.jpg" %>

      <h3>Gonna move?</h3>

      <p>As long as you move to another Bozzuto property, with less than a
      two-month break, the credits you&#039;ve earned will transfer.</p>
    </div>
  </div>

  <div class="ruleContainer clearfix">
    <h2>#<span>6</span></h2>

    <div class="ruleContent">
      <%=image_tag "smartRent6.jpg" %>

      <h3>Use your SmartRent credits at closing.</h3>

      <p>Once you’re ready to buy a home, you can use your SmartRent credits
      towards closing costs or to lower your monthly payment. The credits will
      be ready to use as soon as you close on your new home.</p>
    </div>
  </div>

  <div class="ruleContainer clearfix">
    <h2>#<span>7</span></h2>

    <div class="ruleContent">
      <%=image_tag "rule7.jpg" %>

      <h3>A few things to know...</h3>

      <p>#1. You’ll get email notifications and quarterly statements from
      Bozzuto Homes after you move in. #2. Only one person per apartment can
      earn the credits and #3. Rules and eligibility may change at any
      time.</p>
    </div>
  </div>

  <div class="ruleContainer clearfix">
    <h2>#<span>8</span></h2>

    <div class="ruleContent">
      <%=image_tag "rule8.jpg" %>

      <h3>Our change won’t change your earned SmartRent credits.</h3>

      <p>We’ll honor your Smartrent credits even if your community is sold or
      changes management for an entire year after the sale or switch.</p>
    </div>
  </div>

  <p>*Program may vary by community. <%= link_to "See
  Official Rules for all details.", program_rules_path%></p>
</section>
