<table class="more_homesTable">
  <tr>
    <td class="name"><%= more_home.name %></td>
    <td class="info"><%= more_home.beds %> Bedrooms / <%= more_home.baths %> Baths / <%= more_home.sq_ft %> sq. ft.</td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="floorPlanImages">
        <% more_home.floor_plan_images.each do |floor_plan_image| %>
          <%= render partial: "home_floor_plan_row", :locals => {:floor_plan_image => floor_plan_image, :featured => "featured"} %>
        <% end %>
      </div>
    </td>
  </tr>
</table>
