<%= form_for(@home) do |f| %>
  <% if @home.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@home.errors.count, "error") %> prohibited this home from being saved:</h2>

      <ul>
      <% @home.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :beds %><br />
    <%= f.number_field :beds %>
  </div>
  <div class="field">
    <%= f.label :baths %><br />
    <%= f.text_field :baths %>
  </div>
  <div class="field">
    <%= f.label :sq_ft %><br />
    <%= f.text_field :sq_ft %>
  </div>
  <div class="field">
    <%= f.label :featured %><br />
    <%= f.check_box :featured %>
  </div>
  <div class="field">
    <%= f.label :property_id %><br />
    <%= f.collection_select :property_id, Smartrent::Property.all, :id, :title, {:include_blank => "--Select Property--"}, {}  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
