<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :video_url %><br />
    <%= f.url_field :video_url %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.url_field :website %>
  </div>
  <div class="field">
    <%= f.label :home_page_desc %><br />
    <%= f.text_field :home_page_desc %>
  </div>
  <div class="field">
    <%= f.label :search_page_description %><br />
    <%= f.text_area :search_page_description %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lng %><br />
    <%= f.text_field :lng %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
    
    <% if f.object.image && f.object.image.url %>
      <br><img src="<%= f.object.image.url %>" width="160px" />
    <% end %>
  </div>
  <div class="field">
    <%= f.label :image_description %><br />
    <%= f.text_field :image_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
