<table class="homesTable">
  <% more_homes.each do |home| %>
    <tr>
      <td class="name"><%= home.name %></td>
      <td class="info"><%= home.beds %> Bedrooms / <%= home.baths %> Baths / <%= home.sq_ft.to_i %> sq. ft.</td>
      <td class="floorPlanLink">
        <% if home.floor_plan_images.length > 0 %>
          <a href="javascript:Home.showFloorPlan('floor-plan-<%= home.id %>')">View Floor Plan</a>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
