<%= render layout: "layout" do %>
<section class="wrapper clearfix">
  <div id="contactRight" class="fl-r">
    <p>SmartRent dollars earned while leasing one of our Bozzuto-managed apartments may be used to purchase any of these great homes.</p>
    <div class="toggle clearfix">
      <div id="listResults" class="item search-item listOn">
        <div class="text">
          View as List
        </div>
      </div>
      <div id="mapResults" class="item search-item mapOff">
        <div class="text">
          View on Map
        </div>
      </div>
    </div>
    <div class="locations" id="locationsBox">
      <div class="results listing-results">
        <% @homes.each do |home| %>
          <div class="propertyListing clearfix">
            <div class="photo">
              <%= image_tag home.image(:search_page) %>
            </div>
            <div class="info">
              <h1><%= link_to home.title, home_path(home) %></h1>
              <div class="descHomes">
                <%= home.search_page_description.to_s.html_safe %>
              </div>
              <div class="learn"><%= link_to "Learn More", home_path(home) %></div>
            </div>
            <div class="learnMoreHomes">
              <h3>
                <%= link_to "Learn More", home_path(home) %>
                <div class="arrow">
                  <%= link_to home_path(home) do %>
                    <%= image_tag "learnMoreButton.png" %>
                  <% end %>
                </div>
              </h3>
              <div class="video">
                <% if home.video_url %>
                  <%= link_to "Watch Video", home.video_url, :target => "blank" %>
                <% end %>
              </div>
              <div class="address">
                <div class="address1"><%= home.address %></div>
                <div class="cityState"><%= home.city %>, <%= home.state %></div>
              </div>
              <div class="phone"><%= home.phone_number %></div>
              <div class="website">
                  <%= link_to "Visit the Website", home.website, :target => "blank" %>
              </div>
            </div>
          </div>
        <% end %>
          <%= will_paginate @homes, renderer: BootstrapPagination::Rails %>
      </div>
      <div id="map" class="results map-results"></div>
    </div>
  </div>
</section>
<% end %>
