<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @home.name %>
</p>

<p>
  <b>Beds:</b>
  <%= @home.beds %>
</p>

<p>
  <b>Baths:</b>
  <%= @home.baths %>
</p>

<p>
  <b>Sq ft:</b>
  <%= @home.sq_ft %>
</p>

<p>
  <b>Featured:</b>
  <%= @home.featured %>
</p>

<p>
  <b>Property:</b>
  <%= @home.property_id %>
</p>


<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
