<h1>Listing floor_plan_images</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Home</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @floor_plan_images.each do |floor_plan_image| %>
  <tr>
    <td><%= floor_plan_image.image %></td>
    <td><%= floor_plan_image.caption %></td>
    <td><%= floor_plan_image.home_id %></td>
    <td><%= link_to 'Show', floor_plan_image %></td>
    <td><%= link_to 'Edit', edit_floor_plan_image_path(floor_plan_image) %></td>
    <td><%= link_to 'Destroy', floor_plan_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Floor plan image', new_floor_plan_image_path %>
