<%= form_for([:admin, @more_home], html: {:class => "form-horizontal"}) do |f| %>
  <% if @more_home.errors.any? %>
    <%= render partial: "shared/form_errors", :locals => {:errors => @more_home.errors} %>
  <% end %>
  <fieldset>
    <div class="field">
      <div class="form-group">
        <%= f.label :name, :class => "col-md-2 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :name, :class => "form-control input-md" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :beds, :class => "col-md-2 control-label" %>
        <div class="col-md-4">
          <%= f.number_field :beds, :class => "form-control input-md" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :baths, :class => "col-md-2 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :baths, :class => "form-control input-md" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :sq_ft, :class => "col-md-2 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :sq_ft, :class => "form-control input-md" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :featured, :class => "col-md-2 control-label" %>
        <div class="col-md-4">
          <%= f.check_box :featured, :class => "form-control input-md" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :home_id, :class => "col-md-2 control-label" %>
        <div class="col-md-4">
          <%= f.collection_select :home_id, Smartrent::Home.all, :id, :title, {:include_blank => "--Select Home--"},{:class => "form-control input-md"}  %>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>
