<% content_for(:ui_west) do %>
  <div>
    search form
  </div>
<% end %>

<% content_for(:ui_center) do %>
  <div class="listing">
    <div class="links pull-right">
      <% if current_user.is_admin? %>
        <%= link_to 'New More Home', new_admin_home_more_home_path, :class => "btn btn-primary" %>
      <% end %>
    </div>
    <h3><%= link_to @home.title, admin_home_path(@home) %> &gt; Listing More Homes</h3>

    <% if @more_homes.present? %>
      <table class="table">
        <tr>
          <th width="80px">Position</th>
          <th>Name</th>
          <th>Beds</th>
          <th>Baths</th>
          <th>Sq ft</th>
          <th>Featured</th>
          <th width="250px">Actions</th>
        </tr>
        <% @more_homes.each do |more_home| %>
          <tr>
            <td><%= more_home.position %></td>
            <td><%= link_to more_home.name, admin_home_more_home_path(@home, more_home) %></td>
            <td><%= more_home.beds %></td>
            <td><%= more_home.baths %></td>
            <td><%= more_home.sq_ft %></td>
            <td><%= more_home.featured %></td>
            <td>
              <% if current_user.is_admin? %>
                <%= link_to 'Edit', edit_admin_home_more_home_path(@home, more_home) %> &middot;
                <%= link_to 'Delete', admin_home_more_home_path(@home, more_home), method: :delete, data: { confirm: 'Are you sure?' } %> &middot;
              <% end %>
              
              <%= link_to 'Floor Plan Images', admin_home_more_home_floor_plan_images_path(@home, more_home) %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="paging-info">
        <%= page_entries_info @more_homes %>
        <%= page_navigation_links @more_homes %>
      </div>
    <% elsif params[:search] == "1" %>
      <div class="alert alert-warning">No More Homes found</div>
    <% else %>
      <div class="alert alert-warning">No More Homes have been added yet.</div>
    <% end %>
  </div>
<% end %>


<script type="text/javascript">
  $(function(){
    App.initPageLayout(null, null, null, true);
  });
</script>