<% content_for(:ui_west) do %>
  <div>
    search form
  </div>
<% end %>

<% content_for(:ui_center) do %>
  <div class="listing">
    <div class="links pull-right">
      <% if current_user.is_admin? %>
        <%= link_to 'Import More Homes', import_admin_more_homes_path, :class => "btn btn-default", :style => "display:none" %>
        <%= link_to 'New More Home', new_admin_more_home_path, :class => "btn btn-primary" %>
      <% end %>
    </div>
    <h3>Listing More Homes</h3>

    <% if @more_homes.present? %>
      <table class="table">
        <tr>
          <th width="80px">Position</th>
          <th>Name</th>
          <th>Beds</th>
          <th>Baths</th>
          <th>Sq ft</th>
          <th>Featured</th>
          <th>Home</th>
          <th width="160px">Actions</th>
        </tr>
        <% @more_homes.each do |more_home| %>
          <tr>
            <td><%= more_home.position %></td>
            <td><%= more_home.name %></td>
            <td><%= more_home.beds %></td>
            <td><%= more_home.baths %></td>
            <td><%= more_home.sq_ft %></td>
            <td><%= more_home.featured %></td>
            <td><%= more_home.home.title %></td>
            <td>
              <%= link_to 'Show', admin_more_home_path(more_home) %>
              <% if current_user.is_admin? %> | 
                <%= link_to 'Edit', edit_admin_more_home_path(more_home) %> | 
                <%= link_to 'Delete', admin_more_home_path(more_home), method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="paging-info">
        <%= page_entries_info @more_homes %>
        <%= page_navigation_links @more_homes %>
      </div>
    <% elsif params[:search] == "1" %>
      <div class="alert alert-warning">No more_homes found</div>
    <% else %>
      <div class="alert alert-warning">No more_homes have been added yet.</div>
    <% end %>
  </div>
<% end %>


<script type="text/javascript">
  $(function(){
    App.initPageLayout(null, null, null, true);
  });
</script>