<p>
  <b>Name:</b>
  <%= @more_home.name %>
</p>

<p>
  <b>Beds:</b>
  <%= @more_home.beds %>
</p>

<p>
  <b>Baths:</b>
  <%= @more_home.baths %>
</p>

<p>
  <b>Sq ft:</b>
  <%= @more_home.sq_ft %>
</p>

<p>
  <b>Featured:</b>
  <%= @more_home.featured %>
</p>

<p>
  <b>Home:</b>
  <%= @more_home.home.title %>
</p>


<%= link_to 'Edit', edit_admin_more_home_path(@more_home) %> |
<%= link_to 'Back', admin_more_homes_path %>
