<%= form_for([:admin, @admin_feature], html: {:class => "form-horizontal"}) do |f| %>
  <%= render "layouts/error_messages", :target => @admin_feature %>
  
  <fieldset>
    <div class="form-group">
      <%= f.label :name, :class => "col-md-4 control-label" %>
      <div class="col-md-7">
        <%= f.text_field :name, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-7">
        <%= f.submit :class => "btn btn-primary" %>
      </div>
    </div>
  </fieldset>
<% end %>
