<% content_for(:ui_west) do %>
  <%= render "filter_form" %>
<% end %>

<% content_for(:ui_center) do %>
  <div class="listing">
    <div class="links pull-right">
      <%= link_to 'Import Features', import_admin_features_path, :class => "btn btn-default", :style => "display:none" %>
      <%= link_to 'New Feature', new_admin_feature_path, :class => "btn btn-primary" %>
    </div>
    <h3>Listing Features</h3>

    <% if @admin_features.present? %>
      <table class="table">
        <tr>
          <th>Name</th>
          <th width="160px">Actions</th>
        </tr>

        <% @admin_features.each do |admin_feature| %>
          <tr>
            <td><%= admin_feature.name %></td>
            <td><%= link_to 'Edit', edit_admin_feature_path(admin_feature) %> | <%= link_to 'Delete', admin_feature_path(admin_feature), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </table>
      <div class="paging-info">
        <%= page_entries_info @admin_features %>
        <%= page_navigation_links @admin_features %>
      </div>
    <% elsif @search == "1" %>
      <div class="alert alert-warning">No admin_features found</div>
    <% else %>
      <div class="alert alert-warning">No admin_features have been added yet.</div>
    <% end %>
  </div>
<% end %>


<script type="text/javascript">
  $(function(){
    App.initPageLayout();
  });
</script>