<h3>Filter Floor Plans</h3>
<%= form_tag({}, {:method => "get", :class => "form-horizontal"}) do %>
  <fieldset>
    <div class="field">
      <div class="form-group">
        <%= label_tag "", "ID", :class => "col-md-2 control-label" %>
        <div class="col-md-4">
          <%= text_field_tag :_id, params[:_id], :class => "form-control input-md" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= label_tag "", "Origin ID", :class => "col-md-2 control-label" %>
        <div class="col-md-4">
          <%= number_field_tag :origin_id, params[:origin_id], :class => "form-control input-md" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= label_tag "", "Name", :class => "col-md-2 control-label" %>
        <div class="col-md-4">
          <%= text_field_tag :name, params[:name], :class => "form-control input-md" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= label_tag "", "Url", :class => "col-md-2 control-label" %>
        <div class="col-md-4">
          <%= text_field_tag :url, params[:url], :class => "form-control input-md" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= label_tag "", "Sq Feet Max", :class => "col-md-2 control-label" %>
        <div class="col-md-4">
          <%= text_field_tag :sq_feet_max, params[:sq_feet_max], :class => "form-control input-md" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= label_tag "", "Sq Feet Min", :class => "col-md-2 control-label" %>
        <div class="col-md-4">
          <%= text_field_tag :sq_feet_min, params[:sq_feet_min], :class => "form-control input-md" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= label_tag "", "Beds", :class => "col-md-2 control-label" %>
        <div class="col-md-4">
          <%= text_field_tag :beds, params[:beds], :class => "form-control input-md" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= label_tag "", "Baths", :class => "col-md-2 control-label" %>
        <div class="col-md-4">
          <%= text_field_tag :baths, params[:baths], :class => "form-control input-md" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= label_tag "", "Rent Min", :class => "col-md-2 control-label" %>
        <div class="col-md-4">
          <%= text_field_tag :rent_min, params[:rent_min], :class => "form-control input-md" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= label_tag "", "Rent Max", :class => "col-md-2 control-label" %>
        <div class="col-md-4">
          <%= text_field_tag :rent_max, params[:rent_max], :class => "form-control input-md" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= label_tag "", "Penthouse", :class => "col-md-2 control-label" %>
        <div class="col-md-4">
          <%= check_box_tag :penthouse,true, params[:penthouse], :class => "form-control input-md" %>
        </div>
      </div>
    </div>
    <%= hidden_field_tag "search", "1" %>
    <div class="form-group">
      <label class="col-md-2 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <%= submit_tag "Filter", :class => "btn btn-primary" %>
      </div>
    </div>
    </fieldset>
<% end %>
