<div id="floor-plan-search">
  <h3>Floor Plan Search</h3>
  <%= form_tag({}, {:method => "get"}) do %>
    <div class="form-group" style="display:none">
      <%= text_field_tag :_id, params[:_id], :class => "form-control", :placeholder => "ID" %>
    </div>
    <div class="form-group">
      <%= text_field_tag :origin_id, params[:origin_id], :class => "form-control", :placeholder => "Origin ID" %>
    </div>
    <div class="form-group">
      <%= text_field_tag :name, params[:name], :class => "form-control", :placeholder => "Name" %>
    </div>
    <div class="form-group">
      <%= text_field_tag :url, params[:url], :class => "form-control", :placeholder => "URL" %>
    </div>
    <div class="form-group">
      <%= text_field_tag :sq_feet_max, params[:sq_feet_max], :class => "form-control", :placeholder => "Sq Feet Max" %>
    </div>
    <div class="form-group">
      <%= text_field_tag :sq_feet_min, params[:sq_feet_min], :class => "form-control", :placeholder => "Sq Feet Min" %>
    </div>
    <div class="form-group">
      <%= text_field_tag :beds, params[:beds], :class => "form-control", :placeholder => "Beds" %>
    </div>
    <div class="form-group">
      <%= text_field_tag :baths, params[:baths], :class => "form-control", :placeholder => "Baths" %>
    </div>
    <div class="form-group">
      <%= text_field_tag :rent_min, params[:rent_min], :class => "form-control", :placeholder => "Rent Min" %>
    </div>
    <div class="form-group">
      <%= text_field_tag :rent_max, params[:rent_max], :class => "form-control", :placeholder => "Rent Max" %>
    </div>
    <div class="form-group">
      <label>
        <%= check_box_tag :studio, true, params[:studio] %>
        Studio
      </label>
    </div>
    <div class="form-group">
      <label>
        <%= check_box_tag :penthouse, true, params[:penthouse] %>
        Penthouse
      </label>
    </div>
    <%= hidden_field_tag "search", "1" %>
    <%= submit_tag "Search", :class => "btn btn-default btn-block search" %>
  <% end %>
</div>

