<h1>Listing Floor Plans</h1>
<div class="links pull-right">
  <%= link_to 'Import Floor Plans', import_admin_floor_plans_path, :class => "btn btn-default" %>
  <%= link_to 'New Floor Plan', new_admin_floor_plan_path, :class => "btn btn-primary" %>
</div>
<br />
<br />
<br />
<% if @admin_floor_plans.present? %>
  <table class="table">
  <tr>
    <th>Property</th>
    <th>Origin</th>
    <th>Name</th>
    <th>Url</th>
    <th>Sq feet max</th>
    <th>Sq feet min</th>
    <th>Beds</th>
    <th>Baths</th>
    <th>Rent min</th>
    <th>Rent max</th>
    <th>Penthouse</th>
    <th>Actions</th>
  </tr>

<% @admin_floor_plans.each do |admin_floor_plan| %>
  <tr>
    <td><%= admin_floor_plan.property.name %></td>
    <td><%= admin_floor_plan.origin_id %></td>
    <td><%= admin_floor_plan.name %></td>
    <td><%= admin_floor_plan.url %></td>
    <td><%= admin_floor_plan.sq_feet_max %></td>
    <td><%= admin_floor_plan.sq_feet_min %></td>
    <td><%= admin_floor_plan.beds %></td>
    <td><%= admin_floor_plan.baths %></td>
    <td><%= admin_floor_plan.rent_min %></td>
    <td><%= admin_floor_plan.rent_max %></td>
    <td><%= admin_floor_plan.penthouse %></td>
    <td><%= link_to 'Show', admin_floor_plan_path(admin_floor_plan) %> | <%= link_to 'Edit', edit_admin_floor_plan_path(admin_floor_plan) %> | <%= link_to 'Destroy', admin_floor_plan_path(admin_floor_plan), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
  <%= will_paginate @admin_floor_plans, renderer: BootstrapPagination::Rails %>
<% else %>
  <div class="alert alert-warning"> No Floor Plans available</div>
<% end %>
