<% content_for(:ui_west) do %>
  <%= render "filter_form"%>
<% end %>

<% content_for(:ui_center) do %>
  <div class="listing">
    <div class="links pull-right">
      <% if current_user.is_admin? %>
        <%= link_to 'New Floor Plan', new_admin_property_floor_plan_path(@property), :class => "btn btn-primary" %>
      <% end %>
    </div>
    <h3> <%= link_to @property.name, admin_property_path(@property) %> &gt; Listing Floor Plan</h3>

    <% if @floor_plans.present? %>
      <table class="table">
        <tr>
          <th>Origin ID</th>
          <th>Name</th>
          <th>Sq feet max</th>
          <th>Sq feet min</th>
          <th>Beds</th>
          <th>Baths</th>
          <th>Rent min</th>
          <th>Rent max</th>
          <th>Studio</th>
          <th>Penthouse</th>
          <th width="160px">Actions</th>
        </tr>

        <% @floor_plans.each do |floor_plan| %>
          <tr>
            <td><%= floor_plan.origin_id %></td>
            <td><%= link_to floor_plan.name, admin_property_floor_plan_path(@property, floor_plan) %></td>
            <td><%= floor_plan.sq_feet_max %></td>
            <td><%= floor_plan.sq_feet_min %></td>
            <td><%= floor_plan.beds %></td>
            <td><%= floor_plan.baths %></td>
            <td><%= floor_plan.rent_min %></td>
            <td><%= floor_plan.rent_max %></td>
            <td><%= floor_plan.studio %></td>
            <td><%= floor_plan.penthouse %></td>
            <td>
              <% if current_user.is_admin? %>
                <%= link_to 'Edit', edit_admin_property_floor_plan_path(@property, floor_plan) %> &middot;
                <%= link_to 'Delete', admin_property_floor_plan_path(@property, floor_plan), method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="paging-info">
        <%= page_entries_info @floor_plans %>
        <%= page_navigation_links @floor_plans %>
      </div>
    <% elsif params[:search] == "1" %>
      <div class="alert alert-warning">No Floor Plans found</div>
    <% else %>
      <div class="alert alert-warning">No Floor Plans have been added yet.</div>
    <% end %>
  </div>
<% end %>


<script type="text/javascript">
  $(function(){
    App.initPageLayout();
  });
</script>
