<% content_for(:ui_center) do %>
  <div class="main">
    <p>
      <b>Property:</b>
      <%= @admin_floor_plan.property.name rescue "N/A" %>
    </p>


    <p>
      <b>Name:</b>
      <%= @admin_floor_plan.name %>
    </p>

    <p>
      <b>Url:</b>
      <%= link_to @admin_floor_plan.url, @admin_floor_plan.url, :target => "_blank" %>
    </p>

    <p>
      <b>Sq feet max:</b>
      <%= @admin_floor_plan.sq_feet_max %>
    </p>

    <p>
      <b>Sq feet min:</b>
      <%= @admin_floor_plan.sq_feet_min %>
    </p>

    <p>
      <b>Beds:</b>
      <%= @admin_floor_plan.beds %>
    </p>

    <p>
      <b>Baths:</b>
      <%= @admin_floor_plan.baths %>
    </p>

    <p>
      <b>Rent min:</b>
      <%= @admin_floor_plan.rent_min %>
    </p>

    <p>
      <b>Rent max:</b>
      <%= @admin_floor_plan.rent_max %>
    </p>

    <p>
      <b>Penthouse:</b>
      <%= @admin_floor_plan.penthouse %>
    </p>

    <% if current_user.is_admin? %>
      <%= link_to 'Edit', edit_admin_floor_plan_path(@admin_floor_plan) %> |
    <% end %>
    <%= link_to 'Back', admin_floor_plans_path %>
  </div>
<% end %>


<script type="text/javascript">
  $(function(){
    App.initPageLayout(null, null, null, true);
  });
</script>
