<% content_for(:ui_center) do %>
  <div class="main">
    <h3> <%= link_to @property.name, admin_property_path(@property) %> &gt; Floor Plan Detail </h3>
    <hr/>
    <p>
      <b>Name:</b>
      <%= @floor_plan.name %>
    </p>

    <p>
      <b>Url:</b>
      <%= link_to @floor_plan.url, @floor_plan.url, :target => "_blank" %>
    </p>

    <p>
      <b>Sq feet max:</b>
      <%= @floor_plan.sq_feet_max %>
    </p>

    <p>
      <b>Sq feet min:</b>
      <%= @floor_plan.sq_feet_min %>
    </p>

    <p>
      <b>Beds:</b>
      <%= @floor_plan.beds %>
    </p>

    <p>
      <b>Baths:</b>
      <%= @floor_plan.baths %>
    </p>

    <p>
      <b>Rent min:</b>
      <%= @floor_plan.rent_min %>
    </p>

    <p>
      <b>Rent max:</b>
      <%= @floor_plan.rent_max %>
    </p>

    <p>
      <b>Penthouse:</b>
      <%= @floor_plan.penthouse %>
    </p>
    
    <%= link_to '<< Back', admin_property_floor_plans_path(@property), :class => "btn btn-default back" %>
    <% if current_user.is_admin? %>
      <%= link_to 'Edit', edit_admin_property_floor_plan_path(@property, @floor_plan), :class => "btn btn-default" %>
    <% end %>
  </div>
<% end %>


<script type="text/javascript">
  $(function(){
    App.initPageLayout(null, null, null, true);
  });
</script>
