<div class="formInputs">
  <%= form_for resource, :as => resource_name, :url => update_member_confirmation_path, :html => {:method => 'put'}, :id => 'activation-form' do |f| %>
    <div class="message"><%= devise_error_messages! %></div>
    <div class="labelText">
      <%= f.label :password, "Choose a Password" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, autofocus: true  %>
    </div>
    <div class="labelText">
      <%= f.label :password_confirmation, "Password Confirmation" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password_confirmation  %>
    </div>
    <%= hidden_field_tag :confirmation_token,@confirmation_token %>
    <div class="submitButton">
      <%= f.submit "Save" %>
    </div>
  <% end %>
</div>
