<div class="member clearfix">
  <div class="memberLeft">
    <%= image_tag "login.jpg" %>
  </div>

  <div class="memberRight">
    <div class="forgotForm clearfix">
      <div class="formInstructions">
        <p>
          You must activate your account prior to logging in using the email address that matches your lease.
        </p>
        <p>
          Enter your email address in the box below.
          Click the "Activate Account" button below to begin the activation process.
        </p>
      </div>
      
      <div class="formInputs">
        <%= form_for(resource, as: resource_name, url: member_confirmation_path, html: { method: :post }) do |f| %>
          <div class="message">
            <%= render "layouts/contact_on_error", :target => resource, :header_message => "Activation Failed" %>
          </div>
          <div class="labelText">
            <%= f.label :email, "Email Address" %>
          </div>

          <div class="form-group">
            <%= f.email_field :email, autofocus: true %>
          </div>
          <div class="submitButton">
            <%= f.submit "Activate Account" %>
          </div>
        <% end %>
      </div>

      <div class="formInstructions">
        <p>
          An activation email will be sent to your email address. 
          If you do not receive an email, please check your spam folder.
        </p>
      </div>
    </div>
  </div>
</div>
