<p id="notice"><%= notice %></p>

<p>
  <b>Property:</b>
  <%= link_to @resident_property.property.name, admin_property_path(@resident_property.property) %>
</p>
<p>
  <b>Resident:</b>
  <%= link_to @resident_property.resident.name, admin_resident_path(@resident_property.resident) %>
</p>
<p>
<p>
  <b>Pets Count:</b>
  <%= @resident_property.pets_count if @resident_property.pets_count %>
</p>
<p>
  <b>House Hold Size:</b>
  <%= @resident_property.house_hold_size if @resident_property.house_hold_size %>
</p>
  <b>Move In Date:</b>
  <%= @resident_property.move_in_date.to_s(:year_month_year) if @resident_property.move_in_date.present? %>
</p>
<p>
  <b>Move Out Date:</b>
  <%= @resident_property.move_out_date.to_s(:year_month_year) if @resident_property.move_out_date.present? %>
</p>
<p>
  <b>Contract Signing Date:</b>
  <%= @resident_property.contract_signing_date.to_s(:year_month_year) if @resident_property.contract_signing_date.present? %>
</p>



<%= link_to 'Edit', edit_admin_resident_property_path(@resident_property) %> |
<%= link_to 'Back', properties_admin_resident_path(@resident_property.resident) %>
