<div class="member clearfix">
  <div class="memberLeft">
    <%= image_tag "login.jpg" %>
  </div>

  <div class="memberRight">
    <div class="forgotForm clearfix">
      <div class="formInputs">
        <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
          <div class="message"><%= devise_error_messages! %></div>
          <div class="labelText">
            <%= f.label :email, "Email Address" %>
          </div>

          <div class="form-group">
            <%= f.email_field :email, autofocus: true %>
          </div>
          <div class="submitButton">
            <%= f.submit "Unlock Account" %>
          </div>
        <% end %>
      </div>

      <div class="formInstructions">
        <p>
          An unlock email will be sent to your email address. 
          If you do not receive an email, please check your spam folder.
        </p>
      </div>
    </div>
  </div>
</div>
