<%= form_for([:admin, @home], :html => {:class => "form-horizontal"}) do |f| %>
  <%= render "layouts/error_messages", :target => @home %>
  <fieldset>
    
    <% if @home.updated_by == "xml_feed" %>
      <div class="field">
        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-7">
            <div class="well well-sm">
              Some of the fields (which is disabled) in this form are being automatically updated by the Bozzuto.com XML feed.

              <br><br>
              The following fields can be edited and will not be replaced by the XML feed: <br>
              - Subtitle <br>
              - Home Page Description <br>
              - Search Page Description <br>
              - Description <br>
              - Image <br>
              - Image Description <br>
              - Position <br>
              - Is Visible <br>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    
    <div class="field">
      <div class="form-group">
        <%= f.label :title, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_field :title, :class => "form-control", :disabled => true %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :subtitle, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_field :subtitle, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :video_url, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.url_field :video_url, :class => "form-control", :disabled => true %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :phone_number, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_field :phone_number, :class => "form-control", :disabled => true %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :address, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_field :address, :class => "form-control", :disabled => true %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :city, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_field :city, :class => "form-control", :disabled => true %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :state, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_field :state, :class => "form-control", :disabled => true %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :website, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.url_field :website, :class => "form-control", :disabled => true %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :home_page_desc, "Home Page Description", :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_area :home_page_desc, :class => "form-control", :rows => 8 %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :search_page_description, "Search Page Description", :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_area :search_page_description, :class => "form-control", :rows => 8 %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :description, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_area :description, :class => "form-control", :rows => 8 %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :latitude, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_field :latitude, :class => "form-control", :disabled => true %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :longitude, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_field :longitude, :class => "form-control", :disabled => true %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :image, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.file_field :image %>
          <p class="help-block"> Image should be 870x375 pixels and smaller than 10MB. GIF, JPG, PNG</p>
          <% if f.object.image && f.object.image_file_name %>
            <br><img src="<%= f.object.image.url %>" width="160px" />
          <% end %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :image_description, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_field :image_description, :class => "form-control" %>
        </div>
      </div>
    </div>
  
    <div class="form-group">
      <%= f.label :position, :class => "col-md-4 control-label" %>
      <div class="col-md-7">
        <%= f.number_field :position, :class => "form-control" %>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :is_visible, :class => "col-md-4 control-label" %>
        <div class="col-md-7" style="margin-top:5px;">
          <%= f.check_box :is_visible %> Yes
        </div>
      </div>
    </div>
  
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-7">
        <%= f.submit :class => "btn btn-primary" %>
      </div>
    </div>
  </fieldset>
<% end %>
