<% content_for(:ui_center) do %>
  <div class="main">
    <div class="propDetails clearfix">
      <div class="propPhoto">
        <%= image_tag @home.image %>
        <div>
          <%= @home.image_description %>
        </div>
      </div>

      <div class="details">
        <h3><%= @home.title %></h3>

        <div class="address">
          <%= @home.address %>, <%= @home.city %>, <%= @home.state %>
        </div>
        <div class="links">
          <% if @home.website.present? %>
            <%= link_to "Visit the Website", @home.website %>
          <% end %>
          <% if @home.video_url.present? %>
            <br /><%= link_to "View Community Video", @home.video_url, :target => "_blank" %>
          <% end %>
        </div>

        <div class="desc">
          <%= @home.description.html_safe %>
        </div>
      </div>
    </div>
    
    <%= link_to '<< Back', admin_homes_path, :class => "btn btn-default back" %>
    <% if current_user.is_admin? %>
      <%= link_to 'Edit', edit_admin_home_path(@home), :class => "btn btn-default" %>
    <% end %>
    <%= link_to 'More Homes', admin_home_more_homes_path(@home), :class => "btn btn-default" %>
  </div>
<% end %>


<script type="text/javascript">
  $(function(){
    App.initPageLayout(null, null, null, true);
  });
</script>