<div class="member clearfix">
  <div class="memberLeft">
    <%= image_tag "login.jpg" %>
  </div>

  <div class="memberRight">
    <div class="forgotForm clearfix">
      <div class="formInputs">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <div class="message"><%= devise_error_messages! %></div>
          <%= f.hidden_field :reset_password_token %>
          
          <div class="labelText">
            <%= f.label :password, "New password" %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
          </div>
          
          <div class="labelText">
            <%= f.label :password_confirmation, "Confirm new password" %>
          </div>
          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
          
          <div class="submitButton">
            <%= f.submit "Reset Password" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
