<div class="member clearfix">
  <div class="memberLeft">
    <%= image_tag "login.jpg" %>
  </div>

  <div class="memberRight">
    <div class="forgotForm clearfix">
      <div class="title">
        Request Password Reset
      </div>
      <div class="formInputs">
        <%= form_for(resource, as: resource_name, url: member_password_path, html: { method: :post }) do |f| %>
          <%= render "layouts/contact_on_error", :target => resource, :header_message => "Password Request Failed" %>
          <div class="labelText">
            <%= f.label :email, "Email Address" %>
          </div>

          <div class="form-group">
            <%= f.email_field :email, autofocus: true %>
          </div>
          <div class="submitButton">
            <%= f.submit "Request Password Reset" %>
          </div>
        <% end %>
      </div>

      <div class="formInstructions">
        <p>If you need to reset your password, please enter your email address. If your email is on file, a link will be sent to you allowing you to create a new password.</p>

        <p>For security reasons, this request will be canceled 24 hours after it is submitted. You may re-request your password be reset if that happens.</p>
        
        <p style="font-weight:bold;">
          If you moved in previous to 3/1/2016, please select "Request Password Reset" to request a new password and this will re-activate your account.
        </p>
      </div>
    </div>
  </div>
</div>
