<div class="banner dropshadow">
  <div class="fixedWidth">
    <div class="text no-transform">
      Contact Us about Bozzuto’s SmartRent Program
    </div>
  </div>
</div>

<section class="content">
  <p>At Bozzuto, we’re here to help. So feel free to raise any questions or concerns and we’ll do our best to address them as quickly as possible.</p>
  <%= form_for(@contact, :url => submit_contact_path) do |f| %>
    <%= render "layouts/error_messages_subtle", :target => @contact, :header_message => "Message sending failed" %>

    <div class="contactForm">
      <%= f.label :name, "Name*", {:class => "label"} %>
      <div class="form-group">
        <%= f.text_field :name, {:class => "form-control"} %>
      </div>
      <%= f.label :email, "Email*", {:class => "label"} %>
      <div class="form-group">
        <%= f.email_field :email, {:class => "form-control"} %>
      </div>
      <%= f.label :message, "Message*", {:class => "label"} %>
      <div class="form-group">
        <%= f.text_area :message, {:class => "form-control"} %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "Submit", {:class => "btn btn-primary btn-lg btn-submit"} %>
    </div>
  <% end %>
  <div class="emailUpdates">
    <a href="http://www.bozzuto.com/bozzuto-buzz" target="_blank">For more updates on Bozzuto sign up for our Bozzuto Buzz</a>
  </div>
</section>
