<h1>Listing rewards</h1>
<div class="links pull-right">
  <%= link_to 'Import rewards', import_admin_rewards_path, :class => "btn btn-default" %>
  <%= link_to 'New reward', new_admin_reward_path, :class => "btn btn-primary" %>
</div>
<% if @rewards.present? %>
  <table class="table">
    <tr>
      <th>Email</th>
      <th>Amount</th>
      <th>Property</th>
      <th>Period Start</th>
      <th>Period End</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>

  <% @rewards.each do |reward| %>
    <tr>
      <td><%= reward.resident.email %></td>
      <td><%= number_to_currency reward.amount %></td>
      <td><%= reward.property.title if reward.property %></td>
      <td><%= reward.period_start.to_s(:year_month_day) if reward.period_start %></td>
      <td><%= reward.period_end.to_s(:year_month_day) if reward.period_end %></td>
      <td><%= Smartrent::Reward.types[reward.type_] %></td>
      <td><%= link_to 'Show', admin_reward_path(reward) %> | <%= link_to 'Edit', edit_admin_reward_path(reward) %> | <%= link_to 'Destroy', admin_reward_path(reward), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>
  <%= will_paginate @rewards, renderer: BootstrapPagination::Rails %>
<% else %>
    No rewards available
<% end %>

<br />
<br />
<br />
<br />

