<div class="row">
  <div class="col-md-10">
    <b>Resident Email: </b><%= @reward.resident.email %><br />
    <b>Amount: </b><%= number_to_currency @reward.amount, :precision => 0 %><br />
    <b>Period Start: </b><%= @reward.period_start.to_s(:year_month_day) %><br />
    <% if @reward.period_end %>
      <b>Period End: </b><%= @reward.period_end.to_s(:year_month_day) %><br />
    <% end %>
    <% if @reward.property %>
      <b>Property: </b><%= @reward.property.name %><br />
    <% end %>
  </div>
  <br />
  <br />
  <%= link_to '<< Back', admin_rewards_path, :class => "btn btn-default back" %>
  <% if current_user.is_admin? %>
    <%= link_to 'Edit', edit_admin_reward_path(@reward), :class => "btn btn-default" %>
  <% end %>
</div>
