<div id="contactLeft">
  <div id="search">
    <%= search_form_for @q, {:class => "property_listing", :remote => true} do |f|%>
      <div class="searchTitle">
        <h1>Search By</h1>
      </div>

      <div class="searchBedrooms modern-checkbox">
        <div class="searchCategory">
          Bedrooms
        </div>

        <ul>
          <li>
            <%= check_box_tag "q[where_studio]" %>
            <%= label_tag "q[where_studio]", "Studios" %>
          </li>
          <li>
            <%= check_box_tag "q[where_one_bed]" %>
            <%= label_tag "q[where_one_bed]", "1 Bedroom" %>
          </li>
          <li>
            <%= check_box_tag "q[where_two_bed]" %>
            <%= label_tag "q[where_two_bed]", "2 Bedrooms" %>
          <li>
            <%= check_box_tag "q[where_three_more_bed]" %>
            <%= label_tag "q[where_three_more_bed]", "3 or more Bedrooms" %>
          </li>
          <li>
            <%= check_box_tag "q[where_penthouse]" %>
            <%= label_tag "q[where_penthouse]", "Penthouse" %>
          </li>
        </ul>
      </div>

      <div class="searchPrice">
        <div class="searchCategory">
          <label for="fourbed">Price</label>
        </div>

        <ul>
          <li>
            <label for="fourbed">
              <%= select_tag "q[minimum_price]", options_for_select(Smartrent::Property.prices("Choose Minimum..."), "")%>
            </label>
          </li>
          <li style="list-style: none"></li>
          <li>
            <label for="fourbed">
            <%= select_tag "q[maximum_price]", options_for_select(Smartrent::Property.prices("Choose Maximum..."), "")%>
            </label>
          </li>
          <li style="list-style: none"><label for="fourbed"></label></li>
        </ul>
      </div>

      <div class="searchFeatures modern-checkbox">
        <div class="searchCategory">
          <label for="fourbed">Most Searched Features &amp; Amenities</label>
        </div>

        <ul>
          <% Smartrent::Feature.order("name asc").each do |feature| %>
            <li>
              <%= check_box_tag(
                'q[matches_all_features][]',
                feature.id,
                params["q"] && params["q"].fetch("matches_all_features", []).include?(feature.id.to_s), id: "q_matches_all_features_" + feature.id.to_s
                ) %>
              <label for="q_matches_all_features_<%=feature.id %>">
                <%= feature.name %>
              </label>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="searchMore modern-checkbox">
        <div class="searchCategory">
          More Filters
        </div>

        <ul>
          <li>
            <%= check_box_tag "q[where_promotion]" %>
            <%= label_tag "q[where_promotion]", "Special Promotions" %>
          </li>
        </ul>
        <%= f.hidden_field :state_eq %>
        <%= f.hidden_field :county_eq %>
        <%= f.hidden_field :city_eq %>
      </div>
      <%= f.submit "Filter", :class => "hidden" %>
    <% end %>
  </div>
</div>
