<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :is_smartrent, true %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :detail_url %><br />
    <%= f.text_field :detail_url %>
  </div>
  <div class="field">
    <%= f.label :short_description %><br />
    <%= f.text_field :short_description %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :county %><br />
    <%= f.text_field :county %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :address_line1 %><br />
    <%= f.text_field :address_line1 %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :one_bedroom %><br />
    <%= f.check_box :one_bedroom %>
  </div>
  <div class="field">
    <%= f.label :one_bedroom_price %><br />
    <%= f.text_field :one_bedroom_price %>
  </div>
  <div class="field">
    <%= f.label :two_bedroom %><br />
    <%= f.check_box :two_bedroom %>
  </div>
  <div class="field">
    <%= f.label :two_bedroom_price %><br />
    <%= f.text_field :two_bedroom_price %>
  </div>
  <div class="field">
    <%= f.label :three_bedroom %><br />
    <%= f.check_box :three_bedroom %>
  </div>
  <div class="field">
    <%= f.label :three_bedroom_price %><br />
    <%= f.text_field :three_bedroom_price %>
  </div>
  <div class="field">
    <%= f.label :four_bedroom %><br />
    <%= f.check_box :four_bedroom %>
  </div>
  <div class="field">
    <%= f.label :four_bedroom_price %><br />
    <%= f.text_field :four_bedroom_price %>
  </div>
  <div class="field">
    <%= f.label :studio %><br />
    <%= f.check_box :studio %>
  </div>
  <div class="field">
    <%= f.label :studio_price %><br />
    <%= f.text_field :studio_price %>
  </div>
  <div class="field">
    <%= f.label :penthouse %><br />
    <%= f.check_box :penthouse %>
  </div>
  <div class="field">
    <%= f.label :pent_house_price %><br />
    <%= f.text_field :pent_house_price %>
  </div>
  <div class="field">
    <%= f.label :special_promotion %><br />
    <%= f.check_box :special_promotion %>
  </div>
  <div class="field">
    <%= f.label :features %><br />
    <%= f.select :feature_ids, Smartrent::Feature.all.collect {|x| [x.name, x.id]}, {}, {:multiple => true} %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
