<div class="location">
  <% state_formatted = state.gsub(" ", "_") %>
  <div class="stateBox" id="state<%= state_formatted %>" onclick="Property.showState('<%= state %>')" style="background: url() 0% 0% repeat-x rgb(215, 218, 221);">
    <div class="state">
      <%= US_STATES[state] || state %>
    </div>

    <div class="resultTotal">
      <%= pluralize(property["properties"].length, "Apartment Community", "Apartment Communities") %>
    </div>

    <div class="plusMinus" id="plusMinus<%= state_formatted %>" style="font-size: 2em; background: url() 0% 0% repeat-x rgb(223, 225, 228);">
      +
    </div>

    <div class="clear"></div>
  </div>

  <div class="cities" id="cities<%= state_formatted %>">
    <div class="title" onclick="Property.toggleCities('<%= state %>');">
      <div class="text">
        Cities
      </div>

      <div class="cPlusMinus" id="citiesPlusMinus<%= state_formatted %>" style="font-size: 2em;">
        -
      </div>
      <div class="clear"></div>
    </div>
    <ul id="citiesList<%= state_formatted %>" style="display: table;">
      <% property["cities"].sort{|a, b| a.to_s <=> b.to_s }.each do |city, count| %>
        <li>
          <a href="javascript:Property.cities('<%= state %>','<%= city %>')"><%= city %></a>
          <div class="count">
            <%= count %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="counties" id="counties<%= state_formatted %>">
    <div class="title" onclick="Property.toggleCounties('<%= state %>');">
      <div class="text">
        Counties
      </div>

      <div class="cPlusMinus" id="countiesPlusMinus<%= state_formatted %>" style="font-size: 2em;">
        -
      </div>

      <div class="clear"></div>
    </div>

    <ul id="countiesList<%= state_formatted %>" style="display: table;">
      <% property["counties"].sort{|a, b| a.to_s <=> b.to_s }.each do |county, count| %>
        <li>
        <a href="javascript:Property.counties('<%= state_formatted %>','<%= county %>');"><%= county %></a>
          <div class="count">
            <%= count %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="results hidden" id="results-<%= state %>">
  <% fp_dict = floor_plan_dict(property["properties"]) %>
  <% property["properties"].sort{|a, b| a.name.to_s <=> b.name.to_s }.each do |property_| %>
  <div class="propertyListing">
    <div class="photo">
      <%= image_tag property_.image(:search_page) %>
    </div>
    <div class="info">
      <h3>
        <%= link_to property_.name, property_.bozzuto_url, :target => "_blank" %>
      </h3>

      <p><%= property_.address_line1 %>, <%= property_.city %>, <%= property_.state %><br>
      <%= property_.phone %></p>

      <ul class="fp">
        <% if property_.studio %>
          <li><span class="bold">Studio</span> from <%= number_to_currency property_.studio_price %></li>
        <% end %>
        
        <% if fp_dict[property_.id] %>
          <% 
            one_bedroom = []
            two_bedrooms = []
            three_bedrooms = [] 
            four_bedrooms = []
            penthouse = []
            
            fp_dict[property_.id].each do |fp|
              case fp.beds
                when 1
                  one_bedroom << fp
                when 2
                  two_bedrooms << fp
                when 3
                  three_bedrooms << fp
                else
                  four_bedrooms << fp
              end
              
              penthouse << fp if fp.penthouse?
            end
          %>
          <% if !one_bedroom.empty? %>
            <li><span class="bold">1 Bedroom</span> from <%= number_to_currency one_bedroom.sort{|a, b| a.rent_min.to_i <=> b.rent_min.to_i }.first.rent_min, :precision => 0 %></li>
          <% end %>
          
          <% if !two_bedrooms.empty? %>
            <li><span class="bold">2 Bedrooms</span> from <%= number_to_currency two_bedrooms.sort{|a, b| a.rent_min.to_i <=> b.rent_min.to_i }.first.rent_min, :precision => 0 %></li>
          <% end %>
          
          <% if !three_bedrooms.empty? %>
            <li><span class="bold">3 Bedrooms</span> from <%= number_to_currency three_bedrooms.sort{|a, b| a.rent_min.to_i <=> b.rent_min.to_i }.first.rent_min, :precision => 0 %></li>
          <% end %>
          
          <% if !four_bedrooms.empty? %>
            <li><span class="bold">4 Bedrooms or more</span> from <%= number_to_currency four_bedrooms.sort{|a, b| a.rent_min.to_i <=> b.rent_min.to_i }.first.rent_min, :precision => 0 %></li>
          <% end %>
          
          <% if !penthouse.empty? %>
            <li><span class="bold">Penthouses</span> from <%= number_to_currency penthouse.sort{|a, b| a.rent_min.to_i <=> b.rent_min.to_i }.first.rent_min, :precision => 0 %></li>
          <% end %>
        <% end %>
      </ul>

      <ul class="desc">
        <li><%= strip_tags(property_.description).truncate(100) if property_.description %></li>
      </ul>
    </div>

    <div class="learnMore">
      <h3><%= link_to "Learn More",  property_.bozzuto_url, :target => "_blank" %></h3>
    </div>

    <div class="clear"></div>
  </div>
  <% end %>
</div>
