<h1>Listing properties</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Address</th>
    <th>Website</th>
    <th>Description</th>
    <th>Lat</th>
    <th>Lng</th>
    <th>Left image</th>
    <th>Left image description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%= property.title %></td>
    <td><%= property.address %></td>
    <td><%= property.website %></td>
    <td><%= property.description %></td>
    <td><%= property.lat %></td>
    <td><%= property.lng %></td>
    <td><%= property.left_image %></td>
    <td><%= property.left_image_description %></td>
    <td><%= link_to 'Show', property %></td>
    <td><%= link_to 'Edit', edit_property_path(property) %></td>
    <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Property', new_property_path %>
