<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @property.title %>
</p>

<p>
  <b>Phone number:</b>
  <%= @property.phone_number %>
</p>

<p>
  <b>Detail url:</b>
  <%= @property.detail_url %>
</p>

<p>
  <b>Short description:</b>
  <%= @property.short_description %>
</p>

<p>
  <b>State:</b>
  <%= @property.state %>
</p>

<p>
  <b>County:</b>
  <%= @property.county %>
</p>

<p>
  <b>City:</b>
  <%= @property.city %>
</p>

<p>
  <b>Address:</b>
  <%= @property.address %>
</p>

<p>
  <b>Lat:</b>
  <%= @property.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @property.lng %>
</p>

<p>
  <b>One bedroom price:</b>
  <%= @property.one_bedroom_price %>
</p>

<p>
  <b>Two bedroom price:</b>
  <%= @property.two_bedroom_price %>
</p>

<p>
  <b>Three bedroom price:</b>
  <%= @property.three_bedroom_price %>
</p>

<p>
  <b>Four bedroom price:</b>
  <%= @property.four_bedroom_price %>
</p>

<p>
  <b>Studio price:</b>
  <%= @property.studio_price %>
</p>

<p>
  <b>Pent house price:</b>
  <%= @property.pent_house_price %>
</p>

<p>
  <b>Special promotion:</b>
  <%= @property.special_promotion %>
</p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', propertys_path %>
