<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
    <% if admin_user_signed_in? %>
      <ul class="nav navbar-nav">
        <li <%if @active == "homes"%>class="active"<% end %>>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Homes <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Homes", admin_homes_path %></li>
            <li><%= link_to "More Homes", admin_more_homes_path %></li>
            <li><%= link_to "Floor Plan Images", admin_floor_plan_images_path %></li>
          </ul>
        </li>
        <li <%if @active == "residents"%>class="active"<% end %>>
          <%= link_to "Residents", admin_residents_path %>
        </li>
        <li <%if @active == "rewards"%>class="active"<% end %>>
          <%= link_to "Rewards", admin_rewards_path %>
        </li>
        <li>
          <%= link_to "Website", root_path, :target => "_blank" %>
        </li>
        <li class="<%if @active == "properties"%>active <% end %>dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Properties <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Properties", admin_properties_path %></li>
            <li><%= link_to "Features", admin_features_path %></li>
            <li><%= link_to "Import Property Features", import_admin_property_features_path %></li>
            <li><%= link_to "Floor Plans", admin_floor_plans_path %></li>
          </ul>
        </li>
      </ul>
    <% end %>
      <% if admin_user_signed_in? %>
        <%= link_to "Logout", destroy_admin_user_session_path, :class => "btn btn-danger pull-right"  %>
      <% else %>
        <%= link_to "Login", new_session_path(:admin_user), :class => "btn btn-success pull-right"  %>
      <% end %>
    </div>
  </div>
</nav>
