<header class="header">
  <div class="fixedWidth">
    <div class="logo">
      <%= link_to smartrent.root_url do %>
        <%= image_tag "BozzutoSmartRent-logo-web1.gif", :alt => "SmartRent" %>
      <% end %>
    </div>
    <nav class="menu">
      <ul id="menu-main-menu">
        <li>
          <%= link_to "Why SmartRent?", smartrent.faq_path %>
        </li>

        <li>
          <%= link_to "Apartments", smartrent.apartments_path %>
        </li>

        <li>
          <%= link_to "New Homes", smartrent.new_home_path %>
        </li>

        <li>
          <%= link_to "Program Rules", smartrent.program_rules_path%>
        </li>
      </ul>
    </nav>

    <div class="searchOptions clearfix">
      <div class="contactLink">
        <%= link_to "Learn More", smartrent.new_contact_path %>
      </div>

      <% if !request.fullpath.include? "sign_in" %>
        <div class="memberInfo">
          <% if !user_signed_in? %>
          <div id="loginFields">
            <div class="title">
              Resident Log-In
            </div>
            <div class="loginForm">
              <%= form_for(:user, url: session_path(:user)) do |f| %>
                <div class="form-group">
                  <%= f.email_field :email, autofocus: false , :class => "form-control"%>
                </div>
                <div class="form-group">
                  <%= f.password_field :password, autocomplete: "off", :class => "form-control"  %>
                </div>

                <div class="actions">
                  <%= f.submit "Go", {:class => "btn btn-primary btn-sm"} %>
                </div>
              <% end %>
              <%= link_to "Forgot your password?", new_password_path(:user) %><br />
              <%= link_to "Activate Your Account", new_unlock_path(:user) %><br />
              </div>
          </div>
        <% else %>
          <div class="title">
            Logged-In
          </div>
          <div class="name">
            <%= current_user.name %>
          </div>
          <div class="links">
            <div class="link">
              <%= link_to "View Your Profile", member_profile_path  %>
            </div>

            <div class="link">
              <%= link_to "View Your Statement", member_statement_path  %>
            </div>

            <div class="link">
              <%= link_to "Reset Password", edit_user_password_path  %>
            </div>

            <div class="link">
              <%= link_to "Logout", destroy_user_session_path  %>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>

      <ul id="special-nav">
        <li class="arrow">
          <%= link_to "Lease an Apartment", smartrent.apartments_path %>
        </li>

        <li class="arrow">
          <%= link_to "Buy a Home", smartrent.new_home_path %>
        </li>
      </ul>
    </div>
  </div>
</header>
