<header class="header">
  <div class="fixedWidth">
    <div class="logo">
      <%= link_to smartrent.root_url do %>
        <%= image_tag "BozzutoSmartRent-logo-web1.gif", :alt => "SmartRent" %>
      <% end %>
    </div>
    <nav class="menu">
      <ul id="menu-main-menu">
        <li<% if @current_page == 'faq'%> class="current_page_item"<% end %>>
          <%= link_to "Why SmartRent?", smartrent.faq_path %>
        </li>

        <li<% if @current_page == 'properties'%> class="current_page_item"<% end %>>
          <%= link_to "Apartments", smartrent.find_apartments_path %>
        </li>

        <li<% if @current_page == 'homes'%> class="current_page_item"<% end %>>
          <%= link_to "New Homes", smartrent.find_a_new_home_path %>
        </li>

        <li<% if @current_page == 'program_rules'%> class="current_page_item"<% end %>>
          <%= link_to "Program Rules", smartrent.program_rules_path%>
        </li>
      </ul>
    </nav>

    <div class="searchOptions clearfix">
      <% if !request.fullpath.include? "member-login" %>
        <div class="memberInfo">
          <% if !resident_signed_in? %>
          <div id="loginFields">
            <div class="title">
              Resident Log-In
            </div>
            <div class="loginForm">
              <%= form_for(:resident, url: new_member_login_path) do |f| %>
                <div class="form-group">
                  <%= f.email_field :email, autofocus: false, :placeholder => "EMAIL (MUST MATCH YOUR LEASE)" %>
                </div>
                <div class="form-group">
                  <%= f.password_field :password, autocomplete: "off", :placeholder => "PASSWORD" %>
                </div>

                <div class="actions">
                  <%= f.submit "GO" %>
                </div>
              <% end %>
              <div class="links">
                <%= link_to "Forgot your password?", new_member_password_path %>
                <%= link_to "Activate Your Account", new_member_confirmation_path %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="title">
            Logged-In
          </div>
          <div class="name">
            <%= current_resident.name %>
          </div>
          <div class="links">
            <div class="link">
              <%= link_to "View Your Profile", member_profile_path  %>
            </div>

            <div class="link">
              <%= link_to "View Your Statement", member_statement_path  %>
            </div>

            <div class="link">
              <%= link_to "Reset Password", change_password_residents_path  %>
            </div>

            <div class="link">
              <%= link_to "Logout", destroy_resident_session_path  %>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>

      <ul id="special-nav">
        <li class="arrow">
          <%= link_to "Lease an Apartment", smartrent.find_apartments_path %>
        </li>

        <li class="arrow">
          <%= link_to "Buy a Home", smartrent.find_a_new_home_path %>
        </li>
      </ul>
    </div>
  </div>
</header>
