<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
  <title> <%= @page_title || "SmartRent Admin Panel | SmartRent Bozzuto" %> </title>
  
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'smartrent/admin', media: 'all' %>
  
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'smartrent/admin' %>
  <%= csrf_meta_tags %>
  
  
  <script type="text/javascript">
    //to not activate crm backbone code
    App.vars.srApp = true;
  </script>
  
  <%= yield :css %>
  <%= yield :js %>
</head>
<body>
  <%= render "layouts/top_nav" %>
  <%= render "layouts/left_nav" %>
  
  <div id="viewport">
    <div class="hidden-pane ui-layout-west">
      <div class="ui-layout-content" id="west"><%= yield :ui_west %></div>
    </div>
    <div class="hidden-pane ui-layout-center">
      <div class="ui-layout-content" id="center"><%= yield :ui_center %></div>
    </div>
    <div class="hidden-pane ui-layout-east">
      <div class="ui-layout-content" #id="east"><%= yield :ui_east %></div>
    </div>
    <div id="mask"></div>
  </div>

  <%= yield %>
  
  <%= render "layouts/flash" %>
  
  <!-- bootstrap notify -->
  <div id="notify" class='bottom-right'></div>
  
  <div id="spinner"> <%= image_tag("circle_loading.gif") %> Loading... </div>
  
  <script type="text/javascript">
    var authenticity_token = "<%= form_authenticity_token %>";
  </script>
</body>
</html>