<% if @resident_rewards.present? %>
  <table class="table">
    <tr>
      <th>Type</th>
      <th>Period Start</th>
      <th>Period End</th>
      <th>Property</th>
      <th>Amount</th>
    </tr>

  <% @resident_rewards.each do |reward| %>
    <tr>
      <td><%= Smartrent::Reward.types[reward.type_] %></td>
      <td><%= reward.period_start.to_s(:year_month_day) if reward.period_start %></td>
      <td><%= reward.period_end.to_s(:year_month_day) if reward.period_end %></td>
      <td><%= reward.property.name if reward.property %></td>
      <td><%= number_to_currency reward.amount %> <%= link_to edit_admin_reward_path(reward) do %>
        <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
      </td>
    </tr>
  <% end %>
  </table>
  <div class="paging-info">
    <%= page_entries_info @resident_rewards %>
    <%= page_navigation_links @resident_rewards %>
  </div>
<% else %>
  <div class="alert alert-warning">No rewards available</div>
<% end %>