<h1>Listing Residents</h1>
<div class="links pull-right">
  <%#= link_to 'Make all Rewards Initial Reward', move_all_rewards_to_initial_balance_admin_residents_path, :class => "btn btn-primary", data: {confirm: "This action is irreversible and will make all rewards initial reward; Continue?"} %>
  <%= link_to 'Import Residents', import_admin_residents_path, :class => "btn btn-default" %>
  <%= link_to 'New Resident', new_admin_resident_path, :class => "btn btn-primary" %>
</div>
<br />
<br />
<%= render partial: "filter_form" %>
<br />
<% if @residents.present? %>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Unit ID</th>
      <th>Properties</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>

  <% @residents.each do |resident| %>
    <tr>
      <td><%= resident.name %></td>
      <td><%= resident.email %></td>
      <td><%= resident.unit_id %></td>
      <td><%= link_to "Properties", properties_admin_resident_path(resident) %></td>
      <td><%= resident.status %></td>
      <td><%= link_to 'Show', admin_resident_path(resident) %> <% if can? :update, @resident %>| <%= link_to 'Edit', edit_admin_resident_path(resident) %> <% end %> <% if can? :destroy, @resident %> | <%= link_to 'Destroy', admin_resident_path(resident), method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
      <%  %>
    </tr>
  <% end %>
  </table>
  <%= will_paginate @residents, renderer: BootstrapPagination::Rails %>
<% else %>
  <div class="alert alert-warning"> No residents available</div>
<% end %>
