<h1>Listing Resident Properties</h1>
<br />
<br />
<% if @resident_properties.present? %>
  <table class="table">
    <tr>
      <th>Property Name</th>
      <th>House Hold Size</th>
      <th>Pets Count</th>
      <th>Contract Signing Date</th>
      <th>Status</th>
      <th>Move In Date</th>
      <th>Move Out Date</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  <% @resident_properties.each do |resident_property| %>
    <% property = resident_property.property %>
    <tr>
      <td><%= link_to property.name, admin_property_path(property) %></td>
      <td><%= resident_property.house_hold_size %></td>
      <td><%= resident_property.pets_count %></td>
      <td><%= resident_property.contract_signing_date %></td>
      <td><%= resident_property.status %></td>
      <td><%= resident_property.move_in_date %></td>
      <td><%= resident_property.move_out_date %></td>
      <td><%= resident_property.created_at %></td>
      <td><%= link_to 'Show', admin_resident_property_path(resident_property) %> | <%= link_to 'Edit', edit_admin_resident_property_path(resident_property) %> | <%= link_to 'Destroy', admin_resident_property_path(resident_property), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>
  <%= will_paginate @resident_properties, renderer: BootstrapPagination::Rails %>
<% else %>
  <div class="alert alert-warning">No Properties present for this resident</div>
<% end %>
