<% content_for(:ui_west) do %>
  <%= render "filter_form" %>
<% end %>

<% content_for(:ui_center) do %>
  <div class="listing balances">
    <div class="links pull-right">
      <%= link_to 'Export', export_admin_balances_path, :class => "btn btn-primary export" %>
    </div>
    <h3>Listing balances</h3>

    <% if @balances.present? %>
      <table class="table">
        <tr>
          <th><%= sortable(:first_name, "First Name") %></th>
          <th><%= sortable(:last_name, "Last Name") %></th>
          <th><%= sortable(:email, "Email") %></th>
          <th>Current Property</th>
          <th>Past Properties</th>
          <th><%= sortable(:smartrent_status, "Status") %></th>
          <th><%= sortable(:balance, "Balance") %></th>
          <th><%= sortable(:first_move_in, "Move-In") %></th>
          <th><%= sortable(:email_check, "Email Check") %></th>
          <th><%= sortable(:subscribed, "Subscribe Status") %></th>
          <th><%= sortable(:confirmed_at, "Activation Date") %></th>
          <th width="100px">Detail</th>
        </tr>
        <% @balances.each do |resident| %>
          <% 
            curr = nil
            past = []
            
            resident.resident_properties.each do |rp|
              next if !rp.property
              if rp.status == Smartrent::ResidentProperty.STATUS_CURRENT
                curr = rp.property
              elsif rp.status == Smartrent::ResidentProperty.STATUS_PAST
                past << rp.property
              end
            end
          %>
          <tr>
            <td><%= resident.first_name %></td>
            <td><%= resident.last_name %></td>
            <td><%= resident.email %></td>
            <td><%= curr.name if curr %></td>
            <td><%= truncate(past.collect{|p| p.name.to_s }.join(", "), :length => 70) if past.length > 0 %></td>
            <td><%= resident.smartrent_status %></td>
            <td><%= number_to_currency resident.balance, :precision => 0 %></td>
            <td><%= resident.first_move_in ? resident.first_move_in.strftime("%Y-%m-%d") : "" %></td>
            <td><%= resident.email_check %></td>
            <td><%= resident.subscribe_status %></td>
            <td><%= resident.confirmed_at ? resident.confirmed_at.strftime("%Y-%m-%d") : "" %></td>
            <td>
              <% if curr || past[0] %>
                <%= link_to 'View', main_app.property_resident_url((curr || past[0]).id, resident.crm_resident_id, :host => HOST), :target => "_blank" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="paging-info">
        <%= page_entries_info @balances, :model => "balance" %>
        <%= page_navigation_links @balances %>
      </div>
    <% elsif params[:search] == "1" %>
      <div class="alert alert-warning">No balances found</div>
    <% else %>
      <div class="alert alert-warning">No balances have been added yet.</div>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){
    App.initPageLayout();
    App.initExportDialog();
    
    $('.export').click(function(){
      $.get(this.href, $('#balance-search form').serialize(), 'script');
      return false;
    });
    
    var searchForm = $('#balance-search');
    
    searchForm.find('.date-field :text').datepicker({format: 'yyyy-mm-dd'});
    
  });
</script>