<% if resource_name.to_s == "resident" %>
  <div class="member clearfix">
    <div class="memberLeft">
      <%= image_tag "smartrent21.jpg" %>
    </div>

    <div class="memberRight">
      <div class="title">
        Log-In
      </div>

      <div class="message"></div>

      <div class="loginForm">
      <%= form_for(resource, as: resource_name, url: member_login_path) do |f| %>
        <div class="message">
        <%- flash.each do |name, msg| -%>
          <% if msg == 'Invalid email or password.' %>
            <%= content_tag :div, "Your login information is incorrect. Please try again or you may Reset Your Password.", :id => "flash_#{name}" if msg.is_a?(String) %>
          <% else %>
            <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
          <% end %>
        <%- end -%>
        </div>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, :placeholder => "EMAIL" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", :placeholder => "PASSWORD"  %>
        </div>

        <div class="actions">
          <%= f.submit "GO" %>
        </div>
      <% end %>
      </div>
      <div class="formInstructions">
        <p>
          First time users will need to activate their account.<br>
          <%= link_to "Click here", new_member_confirmation_path %> to activate
        </p>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
  
<% else %>
  <div class="loginForm">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="message"><%= devise_error_messages! %></div>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, :placeholder => "EMAIL" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", :placeholder => "PASSWORD" %>
      </div>

      <div class="actions">
        <%= f.submit "GO" %>
      </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>
