<div id="contactLeft">
  <div id="search">
    <%= search_form_for @q, {:remote => true, :class => "apartment_listing"} do |f|%>
      <div class="searchTitle">
        <h1>Search By</h1>
      </div>

      <div class="searchBedrooms modern-checkbox">
        <div class="searchCategory">
          Bedrooms
        </div>

        <ul>
          <li>
            <%= f.check_box :studio_true %>
            <label for="q_studio_true">Studios</label>
          </li>
          <li>
            <%= f.check_box :one_bedroom_true %>
            <label for="q_one_bedroom_true">1 Bedroom</label>
          </li>
          <li>
            <%= f.check_box :two_bedroom_true %>
            <label for="q_two_bedroom_true">2 Bedrooms</label>
          <li>
            <%= f.check_box :three_bedroom_true %>
            <label for="q_three_bedroom_true">3 or more Bedrooms</label>
          </li>
          <li>
            <%= f.check_box :four_bedroom_true %>
            <label for="q_four_bedroom_true">Penthouses</label>
          </li>
          <li>
            <%= f.check_box :penthouse_true %>
            <label for="q_penthouse_true">Penthouses</label>
          </li>
        </ul>
      </div>

      <div class="searchPrice">
        <label for="fourbed"></label>

        <div class="searchCategory">
          <label for="fourbed">Price</label>
        </div><label for="fourbed"></label>

        <ul>
          <li>
          <label for="fourbed">
            <%= f.select :one_bedroom_price_or_two_bedroom_price_or_three_bedroom_price_or_four_bedroom_price_or_studio_price_or_pent_house_price_gteq, options_for_select(Smartrent::Apartment.prices("Choose Minimum..."))%>
          </label></li>

          <li style="list-style: none"><label for="fourbed"></label></li>

          <li>
            <label for="fourbed">
              <%= f.select :one_bedroom_price_or_two_bedroom_price_or_three_bedroom_price_or_four_bedroom_price_or_studio_price_or_pent_house_price_lteq, options_for_select(Smartrent::Apartment.prices("Choose Minimum..."))%>
            </label>
          </li>

          <li style="list-style: none"><label for="fourbed"></label></li>
        </ul>
      </div>

      <div class="searchFeatures modern-checkbox">
        <label for="fourbed"></label>

        <div class="searchCategory">
          <label for="fourbed">Most Searched Features &amp; Amenities</label>
        </div><label for="fourbed"></label>

        <ul>
          <li><label for="fourbed"><input id="concierge" name="features[]" onclick="selectResults();" type="checkbox" value="Concierge"><label for="concierge">Concierge</label></label></li>

          <li><input id="green" name="features[]" onclick="selectResults();" type="checkbox" value="Green"><label for="green">Green</label></li>

          <li><input id="military" name="features[]" onclick="selectResults();" type="checkbox" value="Military"><label for="military">Military</label></li>

          <li><input id="nonsmoking" name="features[]" onclick="selectResults();" type="checkbox" value="Non Smoking"><label for="nonsmoking">Non Smoking</label></li>

          <li><input id="pet-friendly" name="features[]" onclick="selectResults();" type="checkbox" value="Pet Friendly"><label for="pet-friendly">Pet Friendly</label></li>

          <li><input id="rapid-transit" name="features[]" onclick="selectResults();" type="checkbox" value="Rapid Transit"><label for="rapid-transit">Rapid Transit</label></li>

          <li><input id="zipcar" name="features[]" onclick="selectResults();" type="checkbox" value="Zipcar"><label for="zipcar">Zipcar</label></li>
        </ul>
      </div>

      <div class="searchMore modern-checkbox">
        <div class="searchCategory">
          More Filters
        </div>

        <ul>
          <li><input id="special" name="promotion" onclick="selectResults();" type="checkbox" value="true"><label for="special">Special Promotions</label></li>
        </ul><input name="state" type="hidden" value=""> <input name="county" type="hidden" value=""> <input name="city" type="hidden" value="">
      </div>
      <%= f.submit %>
    <% end %>
  </div>
</div>
