<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @apartment.title %>
</p>

<p>
  <b>Phone number:</b>
  <%= @apartment.phone_number %>
</p>

<p>
  <b>Detail url:</b>
  <%= @apartment.detail_url %>
</p>

<p>
  <b>Short description:</b>
  <%= @apartment.short_description %>
</p>

<p>
  <b>State:</b>
  <%= @apartment.state %>
</p>

<p>
  <b>County:</b>
  <%= @apartment.county %>
</p>

<p>
  <b>City:</b>
  <%= @apartment.city %>
</p>

<p>
  <b>Address:</b>
  <%= @apartment.address %>
</p>

<p>
  <b>Lat:</b>
  <%= @apartment.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @apartment.lng %>
</p>

<p>
  <b>One bedroom price:</b>
  <%= @apartment.one_bedroom_price %>
</p>

<p>
  <b>Two bedroom price:</b>
  <%= @apartment.two_bedroom_price %>
</p>

<p>
  <b>Three bedroom price:</b>
  <%= @apartment.three_bedroom_price %>
</p>

<p>
  <b>Four bedroom price:</b>
  <%= @apartment.four_bedroom_price %>
</p>

<p>
  <b>Studio price:</b>
  <%= @apartment.studio_price %>
</p>

<p>
  <b>Pent house price:</b>
  <%= @apartment.pent_house_price %>
</p>

<p>
  <b>Special promotion:</b>
  <%= @apartment.special_promotion %>
</p>


<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'Back', apartments_path %>
