<%= form_for([:admin, @setting], html: {:class => "form-horizontal"}) do |f| %>
  <%= render "layouts/error_messages", :target => @setting %>
  <fieldset>
    <div class="form-group">
      <%= f.label :key, :class => "col-md-4 control-label" %>
      <div class="col-md-7">
        <%= f.text_field :key, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :value, :class => "col-md-4 control-label" %>
      <div class="col-md-7">
        <%= f.text_field :value, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-7">
        <%= f.submit :class => "btn btn-primary" %>
      </div>
    </div>
  </fieldset>
<% end %>
