<% content_for(:ui_west) do %>
  Setting Search
<% end %>

<% content_for(:ui_center) do %>
  <div class="listing">
    <div class="links pull-right">
      <%= link_to 'New Setting', new_admin_setting_path, :class => "btn btn-primary" %>
    </div>
    <h3>Listing Settings</h3>
    <% if @settings.present? %>
      <table class="table">
        <tr>
          <th>Key</th>
          <th>Value</th>
          <th width="160px">Actions</th>
        </tr>
        <% @settings.each do |setting| %>
          <tr>
            <td><%= setting.key.humanize %></td>
            <td><%= setting.value %></td>
            <td>
              <%= link_to 'Show', admin_setting_path(setting) %> | 
              <%= link_to 'Edit', edit_admin_setting_path(setting) %> | 
              <%= link_to 'Delete', admin_setting_path(setting), method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="paging-info">
        <%= page_entries_info @settings %>
        <%= page_navigation_links @settings %>
      </div>
      
    <% elsif @search == "1" %>
      <div class="alert alert-warning">No Settings found</div>
      
    <% else %>
      <div class="alert alert-warning">No Settings have been added yet.</div>
    <% end %>
  </div>
<% end %>


<script type="text/javascript">
  $(function(){
    App.initPageLayout(null, null, null, true);
  });
</script>