<%= form_for([:admin, @property], :html => {:class => "form-horizontal"}) do |f| %>
  <%= render "layouts/error_messages", :target => @property %>
  <fieldset>
    <div class="field">
      <div class="form-group">
        <%= f.label :name, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_field :name, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :phone, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_field :phone, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :website_url, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_field :website_url, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :description, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_area :description, :class => "form-control", :rows => 8 %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :short_description, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_area :short_description, :class => "form-control", :rows => 8 %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :address_line1, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_field :address_line1, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :address_line2, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_field :address_line2, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :city, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_field :city, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :state, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.select :state, US_STATES.keys.sort.collect{|k| [US_STATES[k], k]}, {:include_blank => "--Select State"}, {:class => "form-control"} %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :county, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_field :county, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :zip, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_field :zip, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :latitude, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_field :latitude, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :longitude, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_field :longitude, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :status, :class => "col-md-4 control-label" %>
      <div class="col-md-7">
        <%= f.select :status, Smartrent::Property.statuses.collect{|key,value| [value, key]}, {:include_blank => "--Select Status"}, {:class => "form-control"} %>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :special_promotion, :class => "col-md-4 control-label" %>
        <div class="col-md-7" style="margin-top:5px;">
          <%= f.check_box :special_promotion %> Yes
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :features, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.select :feature_ids, Smartrent::Feature.all.collect {|x| [x.name, x.id]}, {:include_blank => "--Select Features--"}, {
                :multiple => true, 
                :class => "form-control",
                :style => "height: 300px;" } %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :image, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.file_field :image %>
          
          <% if f.object.image && f.object.image.url %>
            <br><img src="<%= f.object.image.url %>" width="160px" />
          <% end %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :bozzuto_url, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.url_field :bozzuto_url, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :email, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_field :email, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :promotion_title, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_field :promotion_title, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :promotion_subtitle, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.text_field :promotion_subtitle, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :promotion_url, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.url_field :promotion_url, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :promotion_expiration_date, :class => "col-md-4 control-label" %>
        <div class="col-md-7">
          <%= f.date_select :promotion_expiration_date, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :is_smartrent, :class => "col-md-4 control-label" %>
        <div class="col-md-7" style="margin-top:5px;">
          <%= f.check_box :is_smartrent %> Yes
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-7">
        <%= f.submit :class => "btn btn-primary" %>
        <%= link_to 'Cancel', admin_properties_path, :class => "btn btn-default" %>
      </div>
    </div>
  </fieldset>
<% end %>
