<% content_for(:ui_west) do %>
  <%= render "filter_form" %>
<% end %>

<% content_for(:ui_center) do %>
  <div class="listing">
    <div class="links pull-right">
      <% if current_user.is_admin? %>
        <%= link_to 'New Property', new_admin_property_path, :class => "btn btn-primary" %>
      <% end %>
      
      <%= link_to 'Export All', export_admin_properties_path, :class => "btn btn-default" %>
      <%= link_to 'Re-import Properties', import_xml_admin_properties_path, :class => "btn btn-danger re-import" %>
    </div>
    <h3>Listing Properties</h3>

    <% if @properties.present? %>
      <table class="table">
        <tr>
          <th>Property No</th>
          <th>Name</th>
          <th>City</th>
          <th>State</th>
          <th width="310px">Actions</th>
        </tr>
      <% @properties.each do |property| %>
        <tr>
          <td><%= property.origin_id %></td>
          <td><%= link_to property.name, admin_property_path(property) %> </td>
          <td><%= property.city %></td>
          <td><%= property.state %></td>
          <td>
            <% if current_user.is_admin? %>
              <%= link_to 'Edit', edit_admin_property_path(property) %> &middot;
              <%= link_to 'Delete', admin_property_path(property), method: :delete, data: { confirm: 'Are you sure?' } %> &middot;
            <% end %>
            
            <%= link_to 'Residents', main_app.property_residents_url(property, :host => HOST) %> &middot;
            <%= link_to 'Floor Plans', admin_property_floor_plans_path(property) %>
          </td>
        </tr>
      <% end %>
      </table>
      <div class="paging-info">
        <%= page_entries_info @properties %>
        <%= page_navigation_links @properties %>
      </div>
    <% elsif params[:search] == "1" %>
      <div class="alert alert-warning">No Properties found</div>
    <% else %>
      <div class="alert alert-warning">No Properties have been added yet.</div>
    <% end %>
  </div>
<% end %>


<script type="text/javascript">
  $(function(){
    App.initPageLayout();
    
    $('.re-import').on('click', function(){
      var t = $(this);
      
      bootbox.confirm("Sure you want to re-import properties?", function(result) {
        if (result) {
          $.post(t.attr('href'), function(){
            msgbox("Import is running... Please reload this page after a few minutes!");
          }, 'json');
        }
      });
      
      return false;
    });
  });
</script>
