<div class="member clearfix">
  <div class="memberLeft">
    <%= image_tag "login.jpg" %>
  </div>

  <div class="memberRight">
    <div class="forgotForm clearfix">
      <div class="title">
        Update Password
      </div>


      <div class="formInputs">
        <%= form_for(@resident, url: update_password_residents_path) do |f| %>
          <%= render "layouts/contact_on_error", :target => @resident %>
          
          <div class="labelText">
            <%= f.label :current_password %>
          </div>
          <div class="form-group">
            <%= f.password_field :current_password, autofocus: true, :class => "form-control" %>
          </div>

          <div class="labelText">
            <%= f.label :password %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, :class => "form-control" %>
          </div>

          <div class="labelText">
            <%= f.label :password_confirmation %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, :class => "form-control" %>
          </div>
          <div class="submitButton">
            <%= f.submit "Update Password", :class => "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <div class="formInstructions">
        <p>If you need to reset your password, please enter your email address. If your email is on file, a link will be sent to you allowing you to create a new password.</p>

        <p>For security reasons, this request will be canceled 24 hours after it is submitted. You may re-request your password be reset if that happens.</p>
      </div>
    </div>
  </div>
</div>
