<% content_for(:ui_west) do %>
  <div>
    search form
  </div>
<% end %>

<% content_for(:ui_center) do %>
  <div class="listing">
    <div class="links pull-right">
      <%= link_to 'Import Floor Plan Images', import_admin_floor_plan_images_path, :class => "btn btn-default" %>
      <%= link_to 'New Floor Plan Image', new_admin_floor_plan_image_path, :class => "btn btn-primary" %>
    </div>
    <h3>Listing floor_plan_images</h3>

    <% if @floor_plan_images.present? %>
      <table class="table">
        <tr>
          <th>Image</th>
          <th>Caption</th>
          <th>More Home</th>
          <th>Action</th>
        </tr>

        <% @floor_plan_images.each do |floor_plan_image| %>
          <tr>
            <td><%= image_tag floor_plan_image.image, :width => 50 %></td>
            <td><%= floor_plan_image.caption %></td>
            <td><%= floor_plan_image.more_home.name %></td>
            <td><%= link_to 'Show', admin_floor_plan_image_path(floor_plan_image) %> | <%= link_to 'Edit', edit_admin_floor_plan_image_path(floor_plan_image) %> | <%= link_to 'Destroy', admin_floor_plan_image_path(floor_plan_image), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </table>
      <div class="paging-info">
        <%= page_entries_info @floor_plan_images %>
        <%= page_navigation_links @floor_plan_images %>
      </div>
    <% elsif @search == "1" %>
      <div class="alert alert-warning">No floor_plan_images found</div>
    <% else %>
      <div class="alert alert-warning">No floor_plan_images have been added yet.</div>
    <% end %>
  </div>
<% end %>


<script type="text/javascript">
  $(function(){
    App.initPageLayout();
  });
</script>