<% content_for(:ui_west) do %>
  <div>
    search form
  </div>
<% end %>

<% content_for(:ui_center) do %>
  <div class="listing">
    <div class="links pull-right">
      <% if current_user.is_admin? %>
        <%= link_to 'New Floor Plan Image', new_admin_home_more_home_floor_plan_image_path(@home, @more_home), :class => "btn btn-primary" %>
      <% end %>
    </div>
    <h3><%= link_to @home.title, admin_home_path(@home) %> &gt; <%= link_to @more_home.name, admin_home_more_home_path(@home, @more_home) %> &gt; Listing Floor Plan Images</h3>

    <% if @floor_plan_images.present? %>
      <table class="table">
        <tr>
          <th>Image</th>
          <th>Caption</th>
          <th>Visible</th>
          <th width="160px">Actions</th>
        </tr>

        <% @floor_plan_images.each do |floor_plan_image| %>
          <tr>
            <td><%= image_tag floor_plan_image.image, :width => 50 %></td>
            <td><%= floor_plan_image.caption %></td>
            <th><%= floor_plan_image.is_visible? ? "Yes" : "No" %></th>
            <td>
              <%= link_to 'Show', admin_home_more_home_floor_plan_image_path(@home, @more_home, floor_plan_image) %> &middot;
              <% if current_user.is_admin? %>
                <%= link_to 'Edit', edit_admin_home_more_home_floor_plan_image_path(@home, @more_home, floor_plan_image) %> &middot;
                <%= link_to 'Delete', admin_home_more_home_floor_plan_image_path(@home, @more_home, floor_plan_image), method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="paging-info">
        <%= page_entries_info @floor_plan_images %>
        <%= page_navigation_links @floor_plan_images %>
      </div>
    <% elsif params[:search] == "1" %>
      <div class="alert alert-warning">No floor_plan_images found</div>
    <% else %>
      <div class="alert alert-warning">No floor_plan_images have been added yet.</div>
    <% end %>
  </div>
<% end %>


<script type="text/javascript">
  $(function(){
    App.initPageLayout(null, null, null, true);
  });
</script>