<p id="notice"><%= notice %></p>

<p>
<%= image_tag @floor_plan_image.image, :width => "100" %>
</p>

<p>
  <b>Caption:</b>
  <%= @floor_plan_image.caption %>
</p>

<p>
  <b>Home:</b>
  <%= @floor_plan_image.more_home.name %>
</p>


<%= link_to 'Edit', edit_admin_floor_plan_image_path(@floor_plan_image) %> |
<%= link_to 'Back', admin_floor_plan_images_path %>
